menu "Configuracion General"
	
config DEFAULT_SCAN_LIST_SIZE
	int "Size scan list wifi"
	default 10
	help
		Define size scan list wifi
		

config UINT32_FORMAT
	string "Cadena para el formato de ESP_LOG cuando se formatea un long"
	default "%ld"
	help
		Define la cadena que se pone	
	
config LONG_FORMAT
	string "Cadena para el formato de ESP_LOG cuando se formatea un long"
	default "%lld"
	help
		Define la cadena que se pone	
		



endmenu
