menu "Configuracion de inicializacion"

config CARGA_CONFIGURACION
	int "Carga de configuracion de fabrica"
	default 0
	help
		0 indica carga desde memoria nvs mientras que 1 indica de fabrica. 



config UINT32_FORMAT
	string "Cadena para el formato de ESP_LOG cuando se formatea un long"
	default "%ld"
	help
		Define la cadena que se pone	
	
config LONG_FORMAT
	string "Cadena para el formato de ESP_LOG cuando se formatea un long"
	default "%lld"
	help
		Define la cadena que se pone	
		
config ULONG_FORMAT
	string "Cadena para el formato de ESP_LOG cuando se formatea un long"
	default "%llu"
	help
		Define la cadena que se pone	
		



endmenu
