menu "Configuracion General components"


config FACTORY_DATA
	bool "Forzar carga de configuracion de fabrica"
	default false
	help
		 indica carga desde memoria nvs mientras que 1 indica de fabrica. 



menu "Configuracion nvs"

config CLAVE_CONFIGURACION_GENERAL
	string "Clave nvs para configuracion general"
	default "general"
	help
		Clave nvs para extraer la configuracion general

config CLAVE_PROGRAMACION
	string "Clave nvs para cargar la programacion de los dispositivos"
	default "programacion"
	help
		Clave nvs para cargar la programacion de los dispositivos

config CLAVE_PROGRAMA_ESTATICO
	string "Clave nvs para cargar el programa activo cuando arrancas de 0"
	default "programa_estatico_real"
	help
		Clave nvs para cargar el programa activo cuando arrancas de 0
		
config NAMESPACE
	string "Espacio de nombre configuracion"
	default "CONF_DISP"
	help
		Espacio de nombres nvs usado para la configuracion general.

endmenu

menu "Configuraciones mqtt"

config BROKER_DEFECTO
	string "Broker Mqtt"
	default "mqtt://jajicaiot.ddns.net"
	help
		Servidor Mqtt
		
config PUERTO_DEFECTO
	int "Puerto Mqtt"
	default 1883
	help
		Puerto Mqtt
		
config USUARIO_BROKER_DEFECTO
	string "Usuario broker"
	default ""
	help
		Usuario de acceso al servidor Mqtt

config PASSWORD_BROKER_DEFECTO
	string "Password broker"
	default ""
	help
		Password de acceso al servidor Mqtt

config MQTT_TLS
        int "habilita conexion segura"
        default 0
        help
            Habilita conexion segura para el servidor mqtt.
	
config PREFIJO_SUSCRIPCION_DEFECTO
	string "prefijo para los topics usados"
	default "/"
	help
		Los topics de suscripcion y publicacion tendran este prefijo
		
config TAMANO_BUFFER_LECTURA
	int "Tamano del buffer de lectura"
	default 1024
	help
		Es el tamano de buffer para leer datos en nvs y enviarlos por mqtt

endmenu

menu "logging format"

config UINT32_FORMAT
	string "Cadena para el formato de ESP_LOG cuando se formatea un uint32_t"
	default "%ld"
	help
		Define la cadena que se pone	
	
config LONG_FORMAT
	string "Cadena para el formato de ESP_LOG cuando se formatea un long"
	default "%lld"
	help
		Define la cadena que se pone	
		
config ULONG_FORMAT
	string "Cadena para el formato de ESP_LOG cuando se formatea un usigned long"
	default "%llu"
	help
		Define la cadena que se pone	
		
endmenu




	
menu "Wifi Configurations"


config DEFAULT_SCAN_LIST_SIZE
	int "Size scan list wifi"
	default 10
	help
		Define size scan list wifi


endmenu


endmenu
